<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FolderaInstallerID</key>
	<string>$(FOLDERA_INSTALLER_ID)</string>
	<key>SUFeedURL</key>
	<string>https://github.com/wtw0212/foldera/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>$(SPARKLE_PUBLIC_KEY)</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_sftp-ssh._tcp</string>
		<string>_ssh._tcp</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.wtw0212.foldera.remote-url</string>
			<key>UTTypeDescription</key>
			<string>Foldera server item</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
